body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    display: flex;
    flex-direction: column;
    background: linear-gradient(-150deg, #476AD1, #05206F);
    /* background-size: cover; */
}

.cover {
    height: 50vh;
    /* background-image: url("../images/majstor.jpg");
    background-size: cover; */
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid white;
    box-shadow: inset 0 0 10px #000000;
    background: linear-gradient(180deg, #476AD1, #05206F);
}

.coverText {
    margin: auto;
}

.plumber {
    margin-left: auto;
    width: 50vh;
}

.kartice {
    /* background-color: blue; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 20px;
    padding: 50px;
    align-self: center;
}

.pravi {
    color: white;
}

.pravi2 {
    background-color: #003A95;
}

.pravi2:focus,
.pravi2:hover {
    background-color: #002D75;
}

.pretraga[type="search"] {
    border-radius: 5px 0px 0px 5px;
    border: 3px solid #002D75;
}

.unosPretraga {
    color: white;
    background-color: #002D75;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #002D75;
    border-bottom: 1.5px solid #002D75;
}

footer {
    border-top: 1px solid white;
    margin-top: auto;
    background-color: #010435;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px;
    align-items: center;
}

#footerText {
    color: white;
}

.footerSlika {
    width: 150px;
}

.social {
    display: flex;
    flex-direction: row;
}

.social .fa {
    font-size: 30px;
    text-align: center;
    color: white;
    margin-left: 20px;
}

@media(min-width:1107px) {
    .pretraga[type=search] {
        width: 700px;
    }
}

@media(max-width:607px) {
    .navbar {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
    }
    .logo {
        width: 200px;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .pretraga[type=search] {
        width: 300px;
    }
    .trazi {
        margin-bottom: 20px;
    }
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .footerSlika {
        margin-top: 30px;
    }
    .social {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 800px) {
    .plumber {
        width: 0;
    }
}

.trazi {
    flex-wrap: nowrap;
}

.tekstCover {
    color: white;
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.tekstCoverDole {
    color: white;
    margin-left: 50px;
}

.card {
    transition: 1s;
    margin: 5px;
    color: blue;
}

.card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.pointer {
    font-family: fantasy;
    font-size: 1.5em;
}

.card-text {
    color: black;
}

.on-screen {
    padding: 20px;
    align-self: center;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 700px;
    color: white;
    text-align: center;
    border-bottom: 1px solid white;
}